<p>department-add works!</p>
<div class="container">
  <div>
    <h1>Add New Department</h1>
    <label for="">ID</label>
    <input class="form-control" type="text" [(ngModel)]="dept._id">
    <label for="">Name</label>
    <input class="form-control" type="text" [(ngModel)]="dept.name">
    <label for="">Location</label>
    <select name="" id="" [(ngModel)]="dept.location" class="form-select">
      <option value="Mansoura">Mansoura</option>
      <option value="Smart">Smart</option>
      <option value="Tanta">Tanta</option>
    </select>
    <button class="btn btn-success mx-1 my-2" type="button" (click)="save();">Save</button>
  </div>
</div>
